body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.container{
    width: 1440px;
    height: 500px;
    max-width: 1200px;
    margin: 0 auto;
}
.glav1{
    width: 1440px;
    height: 789px;
    background: url("../img/1.PNG") center no-repeat;
    background-size: cover;
}
/*header*/
.header{
   
    width: 100%;
    height: 100px;
    left: 0px;
    top: 17px;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}
.header__logo{
    
    width: 136px;
    height: 22px;
    left: 201px;
    top: 59px;

    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
}
/*nav*/
.navbar{
    display: flex;
    justify-content: space-between;
    width: 445px;
    height: 22px;
}
.nav__link{
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
   
    
}
/*btn*/
.btn{
    width: 100px;
    height: 40px;
    left: 1172px;
    top: 50px;
}
.btn__item{
    text-align: center;
    font-size: 14px;
    line-height: 16.8px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 15px 30px 15px 30px;
}
/*cloudbudget*/
.cloudbudget{
    margin: 0 auto;
    text-align: center;
    margin-top: 200px;
}
.cloudbudget__title{
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
}
.cloudbudget__suptitle{
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
}
/*btn1*/
.btn1{
    display: inline-block;
    padding: 16px 52px;

    border: 3px solid #fff;
    border-radius: 6px;

    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    align-items: center;
    margin-top: 76px;
    background: #fff;
    color: #ED4C5C;
    text-transform: uppercase;
    text-decoration: none;
}
/*en*/
.en{
    display: flex;
    align-items: center;
}
.en__photo p{
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    margin-left: 11px;
    margin-right: 5px;
}
.en__photo{
    display: flex;
    align-items: center;
    margin-right: 20px;
    
}
/*blok2*/
.blok2{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    height: 500px;
}
.left{
    margin-top: 132px;
    width: 445px;
    height: 115px;
    margin-left: 168px;
}
.easy{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}
.easy__text{
    line-height: 140%;
    text-align: justify;
    margin-top: 24px;
    font-size: 14px;
}
.learn__more{
    line-height: 140%;
    text-align: justify;
    color: #ED4C5C;
    margin-top: 25px;
    font-size: 14px;
}
.right{
    margin-top: 86px;
    margin-right: 240px;
}
/*features*/
.blok3{
    background: #FAFAFA;
}
.container1{
    width: 100%;
    max-width: 1440px;
}
h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    margin-top: 63px;
}
/*stay*/
.stay{
    background-color: #ED4C5C;
}
.stay__item{
    display: flex;
    justify-content: space-around;
    height: 500px;
    width: 100%;
    max-width: 1440px;
}
.stay__left{
    width: 445px;
}
.stay__title{
    font-size: 36px;
    font-weight: 600;
    padding-top: 122px;
}
.stay__text{
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    padding: 24px 0 40px 0;
    width: 445px;
    height: 64px;
}

.stay__left img{
    width: 28px;
    padding-right: 20px;
    padding-bottom: 111px;

}
.stay__right{
    position: relative;
    padding-top: 110px;
    padding-right: 150px;
}
.stay__right img{
    width: 445px;
    height: 311px;
    border-radius: 15px;
    position: absolute;
    top: 86px;
    left: 25px;
    z-index: 1;
}
.stay__right1{
    background: url(../img/Video_bg1.png), #C4C4C4;
    opacity: 0.3;
    border-radius: 15px;
    width: 383px;
    height: 267px;
}
.stay__right23{
    background: url(../img/Video_bg2.png) right, #C4C4C4;
    opacity: 0.3;
    border-radius: 15px;
    width: 383px;
    height: 267px;
    position: absolute;
    top: 111px;
    left: 105px;

}

/*contact*/
.contact{
    display: flex;
    width: 100%;
    max-width: 1440px;
}
.contact__title{
    font-weight: 600;
    font-size: 36px;
    margin-top: 117px;
    margin-left: 176px;
}
.contact__text{
    width: 404px;
    line-height: 140%;
    font-size: 14px;
    margin-left: 176px;
    margin-top: 54px;
}
.contact__item{
    width: 40%;
}

.contact__input{
    padding-top: 117px;
    margin-left: 271px;
    
}
.contact__name input{
    width: 37%;
    height: 40px;
    padding-left: 20px;
    margin-right: 15px;
    border-radius: 6px;
}
.contact__name{
    padding-bottom: 24px;
    padding-right: 30px;
}


.contact__number{
    padding-bottom: 24px;
    
}
.contact__number input{
    width: 80%;
    height: 40px;
    padding-left: 20px;
    border-radius: 6px;
}
select{
    width: 86%;
    height: 40px;
    padding-left: 20px;
    margin-bottom: 24px;
    border-radius: 6px;
}

.contact__sub input{
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    background-color: #ED4C5C;
    border: none;
    border-radius: 6px;
    padding: 13px 34px;
    margin-bottom: 78px;
}

/*footer*/
.glav__last{
    display: flex;
    justify-content: space-around;
    height: 500px;
    margin-top: 85px;
}
.footer__title{
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}
.footer__text1,
.footer__text2,
.footer__text3,
.footer__text4{
    margin-top: 33px;
}
.footer__text2{
    line-height: 30px;
}
.footer__number{
    margin-top: 11px;
}
.footer__icons{
    display: flex;
    margin-top: 13px;
    height: 14px;
}
.footer__icon{
    padding-left: 13px;
}
.footer__icon:first-child{
    padding: 0;
}
.copyright{
    margin-top: 141px;
}
